@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 10px;
  /* border: 1px solid red; */
}

.header {
  display: flex;
  padding: 10px 50px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  cursor: pointer;
}

.header__menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.header__menu-item {
  cursor: pointer;
}

.header__btn {
  text-transform: uppercase;
  background: none;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 500;
  border-color: #97A59A;
  border: 2px solid #97A59A;
  color: #000;
  border-radius: 60px;
  cursor: pointer;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../img/01.jpeg');
  background-position: center center;
  min-height: 100vh;
  padding: 50px;
}

.section1-text {
  max-width: 510px;
}

.title {
  font-size: 62px;
}

.heading {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.5;
  padding-bottom: 30px;
}

.subtitle {
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.section1-buttons {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  gap: 30px;
}

.circle-btn {
  display: flex;
  border: 2px solid #97A59A;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.circle-btn:hover {
  box-shadow: 0px 0px 15px 10px #97A59A;
}

.section1-btn {
  width: 130px;
  height: 130px;
  cursor: pointer;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  min-height: 600px;
  background: #f7f4ef;
  border-radius: 0 0 150px 150px;
  line-height: 1.5;
  text-align: center;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 50px;
}

.section3-img {
  width: 50%;
}

.section3-text {
  width: 50%;
}

.section3-btn {
  width: 180px;
  height: 180px;
  cursor: pointer;
  margin-left: auto;
}

.section4 {
  background: #f7f4ef;
  text-align: center;
  padding-bottom: 50px;
}

.certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 50px;
  gap: 50px;
}

.certificate-text {
  max-width: 45%;
  line-height: 2;
  text-align: center;
}

.certificate-img {
  max-width: 500px;
}

.section4-btn {
  width: 180px;
  height: 180px;
  cursor: pointer;
  margin: 50px auto 0 auto;
}

.services {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  line-height: 2;
  gap: 30px;
}

.services-left,
.services-right {
  max-width: 500px;
}

.section5-btn {
  width: 180px;
  height: 180px;
  cursor: pointer;
  margin: 50px auto 0 auto;
}

.section6 {
  text-align: center;
  padding-bottom: 50px;
}

.section6-columns {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  justify-items: end;
  padding: 50px 50px 0 50px;
}

.section6-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  min-height: 500px;
  background: #f7f4ef;
  border-radius: 0 0 150px 0;
  text-align: center;
  padding-top: 70px;
}

.section6-column-img {
  border-radius: 150px 150px 150px 0;
}

.section7 {
  background: #f7f4ef;
}

.maps {
  padding-bottom: 50px;
}

.footer {
  min-height: 100vh;
  padding: 100px 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  line-height: 1.5;
  background-image: url('../img/footer_img.jpeg');
  background-repeat:no-repeat;
  background-position: center center;
}

.footer-link {
  color: #97A59A;
}

.footer-top,
.footer-bootom {
  display: flex;
  gap: 100px;
  justify-content: start;
  align-items: center;
}

.footer-top-social {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  width: 180px;
  height: 180px;
}

.social {
  display: flex;
}

.footer-bootom-social {
  width: 180px;
  height: 180px;
  cursor: pointer;
}

/* ------------- текст ------------- */
.line {
  padding: 100px 0;
  overflow: hidden;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

.line span {
  display: inline-block;
  vertical-align: middle;
}

.line:before,
.line:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border: 1px solid #97A59A;
  position: relative;
}
.line:before {
  /* Смещаем левую линию на 100% влево, чтобы линия встала рядом с текстом слева */
  margin-left: -100%;
  /* Указываем в пикселях отступ линии от текста заголовка */
  left: -30px;
}
.line:after {
  /* Смещаем правую линию на 100% вправо, чтобы  линия встала рядом с текстом справа */
  margin-right: -100%;
  /* Указываем в пикселях отступ линии от текста заголовка */
  right: -30px;
}
/* ------------- текст ------------- */



@media (max-width: 1000px) {
  .header__menu {
    display: none;
  }
  .header {
    justify-content: space-evenly;
  }
  .section2,
  .section3 {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section3-btn {
    display: none;
  }
  .section3-img {
    width: 100%;
    max-width: 560px;
  }
  .section3-text {
  width: 100%;
  }
  .certificate {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .certificate-text {
    max-width: none;
    width: 100%;
  }
  .certificate-img {
    max-width: 500px;
    width: 100%;
  }
}


@media (max-width: 740px) {
  .section1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .title {
    font-size: 50px;
  } 
  .section1-buttons {
    flex-direction: row;
    padding: 0;
  }
  .header__btn {    
    display: none;
  }
  .header {
    justify-content: center;
  }
}